In [90]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from tqdm import tqdm
import numpy as np
import time
import time
from tqdm import tqdm
from itertools import chain

In [2]:
URL = 'https://www.fifplay.com/fifa-22/players/?page={}'

In [7]:
data = []
for page_num in tqdm(range(1,123)):
    current_page=URL.format(page_num)
    page = requests.get(current_page)
    soup = BeautifulSoup(page.content, "html.parser")
    table = soup.find('table', attrs={'class':'table listing table-vert-align table-nopadding table-hover table-striped'})
    table_body = table.find('tbody')

    rows = table_body.find_all('tr')
    for row in rows:
        cols = row.find_all('td')
        cols = [ele.text.strip() for ele in cols]
        data.append([ele for ele in cols if ele])

100%|████████████████████████████████████████████████████████████████████████████████| 122/122 [04:43<00:00,  2.32s/it]

In [11]:
data=pd.DataFrame(data)
data

,0,1,2,3,4,5,6,7,8,9,10,11
0,93,Lionel Messi\nRW,PAC\n85,SHO\n92,PAS\n91,DRI\n95,DEF\n38,PHY\n65,★ 4,Med,Low,Left
1,92,Cristiano Ronaldo\nST,PAC\n89,SHO\n93,PAS\n81,DRI\n89,DEF\n35,PHY\n77,★ 5,High,Low,Right
2,91,Kevin De Bruyne\nCAM,PAC\n76,SHO\n86,PAS\n93,DRI\n88,DEF\n64,PHY\n78,★ 4,High,High,Right
3,91,Robert Lewandowski\nST,PAC\n78,SHO\n91,PAS\n78,DRI\n86,DEF\n43,PHY\n82,★ 4,High,Med,Right
4,91,Neymar Jr\nLW,PAC\n91,SHO\n85,PAS\n86,DRI\n94,DEF\n36,PHY\n59,★ 5,High,Med,Right
...,...,...,...,...,...,...,...,...,...,...,...,...
6054,48,Laurie Walker\nGK,DIV\n51,POS\n46,HAN\n47,REF\n48,KIC\n43,SPD\n33,★ 1,Med,Med,Right
6055,48,Laurie Walker\nGK,DIV\n51,POS\n46,HAN\n47,REF\n48,KIC\n43,SPD\n33,★ 1,Med,Med,Right
6056,48,Zhen Ma\nGK,DIV\n49,POS\n44,HAN\n47,REF\n46,KIC\n45,SPD\n54,★ 1,Med,Med,Right
6057,48,Jack Smith\nCM,PAC\n66,SHO\n36,PAS\n46,DRI\n48,DEF\n44,PHY\n67,★ 2,Med,Med,Right
6058,48,Jingxuan Lan\nCB,PAC\n73,SHO\n33,PAS\n36,DRI\n39,DEF\n49,PHY\n49,★ 2,Med,Med,Right

In [12]:
data.to_excel('FIFA_22.xlsx', index=False, header=True)

In [3]:
DATA = pd.read_excel('../Cleaned_FIFA_players.xlsx', engine='openpyxl')

In [4]:
DATA['ref_url1']=DATA['ref_url'].apply(lambda x: 'https://www.fifplay.com/fifa-22/players'+str(x)[29:])

In [ ]:
found_url = []
not_found = []
df_position=pd.DataFrame()
df_info=pd.DataFrame()
for URL in tqdm(DATA['ref_url1'][:5]):
    try:
        info_data=[]
        current_page=URL
        page = requests.get(current_page)
        soup = BeautifulSoup(page.content, "html.parser")
        table = soup.find('table', attrs={'class':['table table-details bg-white small']})
        table_body = table.find('tbody')
        rows = table_body.find_all('tr')
        for row in rows:
            cols = row.find_all('td')
            cols = [ele.text.strip() for ele in cols]
            info_data.append([ele for ele in cols if ele])
        info_data=list(chain.from_iterable(info_data))
        info_data=info_data+[current_page]
        df_info = df_info.append(pd.DataFrame([info_data]), ignore_index=True)
        
        table = soup.findAll('table', attrs={'class':['table table-details bg-white small']})[1]
        table_body = table.find('tbody')
        rows = table_body.find_all('tr')
        for row in rows:
            cols = row.find_all('td')
            cols = [ele.text.strip() for ele in cols]
            position_data.append([ele for ele in cols if ele])
        position_data=list(chain.from_iterable(position_data))
        position_data=position_data+[current_page]
        df_position = df_position.append(pd.DataFrame([position_data]), ignore_index=True)
            
    except:
        not_found.append(URL)

  1%|▋                                                                                | 8/1000 [00:11<21:57,  1.33s/it]

In [98]:
df_position

,0,1,2,3,4,5,6
0,Lionel Messi,Age 33 (06-24-1987),Overall Rating 93,Club Paris Saint-Germain,League Ligue 1 Conforama,Nation Argentina,https://www.fifplay.com/fifa-22/players/158023...
1,C. Ronaldo dos Santos Aveiro,Age 35 (02-05-1985),Overall Rating 92,Club Manchester United,League Premier League,Nation Portugal,https://www.fifplay.com/fifa-22/players/20801/...

In [78]:
from itertools import chain
position_data = []

current_page=DATA['ref_url1'][1]
page = requests.get(current_page)
soup = BeautifulSoup(page.content, "html.parser")
table = soup.findAll('table', attrs={'class':['table table-details bg-white small']})[1]
table_body = table.find('tbody')
rows = table_body.find_all('tr')
for row in rows:
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    deta=[ele for ele in cols if ele]
    position_data.append(deta)

In [79]:
position_data=list(chain.from_iterable(position_data))

In [80]:
#position_data=position_data.append(current_page[0])

In [83]:
position_data=position_data+[current_page]

In [84]:
df=pd.DataFrame()

In [85]:
df = df.append(pd.DataFrame([position_data]), ignore_index=True)

In [86]:
df

,0,1,2,3,4,5,6
0,Position Striker (ST),Height / Weight 187 cm / 83 kg,Preferred FootRight,Weak Foot4 / 5,Attacking Work Rate High,Defensive Work Rate Low,https://www.fifplay.com/fifa-22/players/20801/...